# Confidence Intervals

In [13]:
import pandas as pd
import numpy as np

In [14]:
df = pd.read_csv('C:\\Users\\sunta\\OneDrive\\Desktop\\data\\sampling\\car\\audi.csv')

In [15]:
df.head()

  model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0    A1  2017  12500       Manual    15735   Petrol  150  55.4         1.4
1    A6  2016  16500    Automatic    36203   Diesel   20  64.2         2.0
2    A1  2016  11000       Manual    29946   Petrol   30  55.4         1.4
3    A4  2017  16800    Automatic    25952   Diesel  145  67.3         2.0
4    A3  2019  17300       Manual     1998   Petrol  145  49.6         1.0

In [16]:
np.std(df['price'])

11714.292810983821